@media only screen and (max-width: 600px) {
    header, body {
        min-width: auto;
        padding-left: 0px;
        padding-top: 0px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth
}


html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    body {
        background: url(https://cdn.discordapp.com/attachments/1242610729824288788/1242610872707190865/background.png?ex=664e770e&is=664d258e&hm=a82264828381d04ad2ff48683c20803e40819dcb9ad47536256d4227ea8287b3&);
        background-color: #002533;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

@media (max-width: 767px) {
    body {
        background: url(https://cdn.discordapp.com/attachments/1242610729824288788/1242610872707190865/background.png?ex=664e770e&is=664d258e&hm=a82264828381d04ad2ff48683c20803e40819dcb9ad47536256d4227ea8287b3&);
        background-color: #002533;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

@media (max-width: 1200px) {
    body {
        background: url(https://cdn.discordapp.com/attachments/1242610729824288788/1242610872707190865/background.png?ex=664e770e&is=664d258e&hm=a82264828381d04ad2ff48683c20803e40819dcb9ad47536256d4227ea8287b3&);
        background-color: #002533;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

.container {
    display: block;
}

.section {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Ou qualquer largura desejada */
  }

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f5c054 transparent;
}
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
}
  
  *::-webkit-scrollbar-track {
    background: #f5c054;
}
  
  *::-webkit-scrollbar-thumb {
    background-color: #f5c054;
    border-radius: 20px;
    border: 3px solid #f5c054;
}

/* TOPO DO SITE */


.distintivostopo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 20px; /* Adiciona espaço ao redor */
    margin-bottom: 0px; /* Adiciona margem inferior */
    margin-top: 45px;
}

.logos-container {
    display: flex;
    align-items: center;
    gap: 40px; /* Espaçamento entre os elementos */
}

.logoeb,
.logog20 {
    max-height: 140px; /* Limite máximo de altura para garantir responsividade */
    height: auto; /* Mantém a proporção da imagem */
    width: auto;
}

.linhadivisoriatopo {
    height: 160px; /* Alinha a altura com os logos */
    border-left: 3px solid #ffffff;
    opacity: 0.2;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .logos-container {
        gap: 10px; /* Reduz o espaçamento entre os elementos */
        margin-bottom: 0px; /* Adiciona margem inferior */

    }

    .logoeb,
    .logog20 {
        max-height: 80px; /* Reduz o tamanho máximo dos logos */
    }

    .linhadivisoriatopo {
        height: 100px; /* Ajusta a altura da linha divisória */
        border-left: 2px solid #ffffff; /* Reduz a espessura da linha */
    }
}

@media (max-width: 1200px) {
    .logos-container {
        gap: 10px; /* Reduz o espaçamento entre os elementos */
        margin-bottom: 0px; /* Adiciona margem inferior */

    }

    .logoeb,
    .logog20 {
        max-height: 80px; /* Reduz o tamanho máximo dos logos */
    }

    .linhadivisoriatopo {
        height: 100px; /* Ajusta a altura da linha divisória */
        border-left: 2px solid #ffffff; /* Reduz a espessura da linha */
    }
}

.container-titulos {
    display: block; /* Faz o elemento quebrar linha */
}

.container-subtitulo {
    margin: 1vw auto 5vw;
}

.container-subtitulo span {
    font-weight: 600;
    line-height: 0;
    display: block;
    text-align: center; /* Alinhar o texto ao centro */
}

h1, h2 {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    padding-top: 2vw; /* Espaçamento superior */
    color: #f5c054;
    font-style: normal;
    text-shadow: 2px 2px 275px rgba(0, 0, 0, 0.5); /* Sombra do texto */
}

h1 {
    font-size: 5.2vw; /* Tamanho de fonte relativo à largura da tela */
    line-height: 1;
}

h2 {
    font-size: 2.5vw; /* Tamanho de fonte relativo à largura da tela */
    line-height: 1;
}

.ciclotitulo1a {
    font-weight: 800;
    width: auto;
    height: 70%;
}

.ciclotitulo {
    font-weight: 600;
    margin: 0;
    width: auto;
    height: 70%;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .container-titulos {
        gap: 10px; /* Reduz o espaçamento entre os contêineres de título */
        margin-bottom: 10px; /* Adiciona margem inferior */
    }

    .container-titulo {
        text-align: center; /* Centraliza o texto dos títulos */
    }

    .container-subtitulo {
        text-align: center; /* Centraliza o texto dos subtítulos */
        margin: 1em auto 1em;
    }

    .ciclotitulo1a {
        font-size: 1.5em; /* Ajusta o tamanho da fonte do primeiro título */
    }

    .ciclotitulo {
        font-size: 1.5em; /* Ajusta o tamanho da fonte dos demais títulos */
    }
}

@media (max-width: 1200px) {
    .container-titulos {
        gap: 10px; /* Reduz o espaçamento entre os contêineres de título */
        margin-bottom: 10px; /* Adiciona margem inferior */
    }

    .container-titulo {
        text-align: center; /* Centraliza o texto dos títulos */
    }

    .container-subtitulo {
        text-align: center; /* Centraliza o texto dos subtítulos */
        margin: 1em auto 1em;
    }

    .ciclotitulo1a {
        font-size: 1.5em; /* Ajusta o tamanho da fonte do primeiro título */
    }

    .ciclotitulo {
        font-size: 1.5em; /* Ajusta o tamanho da fonte dos demais títulos */
    }
}


.container-geral{
    display: inline;
    justify-content: center;
    align-items: center;
}

.btn-geral {
    display: flex;
    justify-content: center;
    margin: 2vw auto 5.5vw; /* Espaçamento superior e inferior em relação à largura da tela */
}

.btn-geral a {
    font-size: 1.1vw; /* Tamanho de fonte relativo à largura da tela */
    text-decoration: none;
    cursor: pointer;
    padding: 0.25vw 1vw; /* Espaçamento interno em relação à largura da tela */
    border-radius: 2vw; /* Raio do border-radius em relação à largura da tela */
    border: none;
    color: white;
    background-color: #f5c054;
}

.btn-geral a:hover {
    color: #f5c054;
    background-color: white;
    transition: 0.4s;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .btn-geral a {
        font-size: 2vw; /* Tamanho de fonte responsivo */
        padding: 1vw 3vw; /* Espaçamento interno responsivo */
        border-radius: 10vw; /* Raio do border-radius responsivo */
    }
}

@media (max-width: 1200px) {
    .btn-geral a {
        font-size: 2.5vw; /* Tamanho de fonte responsivo */
        padding: 0.3vw 1vw; /* Espaçamento interno responsivo */
        border-radius: 10vw; /* Raio do border-radius responsivo */
    }
}

/* LINHAS DIVISÓRIAS GERAIS */

.linhadivisoriabody {
    display: block;
    position: relative;
    margin: 35px auto;
    width: 90%;
    max-width: 1800px;
    height: 5px;
    background-color: #ffffff;
    opacity: 20%;
}

.linhadivisoriabody-realizacao {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 90%;
    height: 5px;
    background-color: #ffffff;
    opacity: 20%;
}

.linhadivisoriasociais {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 50%;
    height: 5px;
    background-color: #ffffff;
    opacity: 20%;
}

.linhadivisoriatexto {
    display: flex;
    position: relative;
    margin: 15px auto;
    width: 90%;
    text-align: center;
}

.linhadivisoriatexto-2 {
    display: flex;
    position: relative;
    margin: 45px auto;
    width: 90%;
    text-align: center;
}


/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

/* SOBRE O XXIX CICLO DE ESTUDOS ESTRATÉGICOS */

.sobre {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.sobre-logo-ciclo {
    max-width: 30%; /* Alterado para 100% para se ajustar à largura da tela */
    margin: 0 auto;
    padding: 5vw; /* Utilizei vw para tornar o padding responsivo */
}

.sobre-o-ciclo {
    width: 100%;
    text-align: center;
    line-height: 1.5;
}

.h1-sobre {
    color: aliceblue;
    font-size: 1.8vw; /* Ajustado para uma fonte maior e responsiva */
    font-weight: 700;
    text-shadow: 0.2vw 0.2vw 4vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
    text-transform: uppercase;
    width: 100%;
}

.h2-sobre {
    color: aliceblue;
    font-size: 1.2vw; /* Ajustado para uma fonte maior e responsiva */
    font-weight: 600;
    width: 100%;
    text-shadow: 0.2vw 0.2vw 4vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
}

.h3-sobre {
    color: aliceblue;
    font-size: 1vw; /* Ajustado para uma fonte maior e responsiva */
    font-weight: 300;
    width: 100%;
    margin: 1vw auto;
    text-shadow: 0.2vw 0.2vw 4vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
}


@media (max-width: 600px) {
    .sobre {
        flex-direction: column; /* Altera para coluna em telas menores */
        align-items: center; /* Centraliza os itens na coluna */
        width: 85%; /* Utiliza toda a largura disponível */
    }

    .sobre-logo-ciclo {
        max-width: 40%; /* Ajusta a largura máxima para ocupar toda a largura da tela */
        margin: 0 auto;
        padding: 5vw; /* Utilizei vw para tornar o padding responsivo */
    }

    .sobre-o-ciclo {
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }

    .h1-sobre {
        font-size: 4vw; /* Ajusta o tamanho da fonte para uma fonte maior e responsiva */
        font-weight: 700;
        text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
        text-transform: uppercase;
    }

    .h2-sobre {
        font-size: 2.3vw; /* Ajusta o tamanho da fonte para uma fonte maior e responsiva */
        font-weight: 600;
        text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
    }

    .h3-sobre {
        font-size: 2vw; /* Ajusta o tamanho da fonte para uma fonte maior e responsiva */
        font-weight: 300;
        margin: 1vw auto;
        text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
    }
}



/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

/* MODERADORES E PALESTRANTES*/


.sobre-inline {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.logos-de-apoio {
    display: grid;
    grid-row: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.sobre-logos-apoio,.sobre-logos-apoio-pessoas-2-colunas, .sobre-logos-apoio-pessoas-3-colunas, .sobre-logos-apoio-pessoas-4-colunas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espaço entre os elementos */
    margin-top: 20px;
}

.moderadores, .palestrantes {
    flex: 0 1 calc(20% - 10px); /* Define a largura de cada moderador com espaço entre eles */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
    margin-top: 20px; /* Espaçamento entre as linhas */
}

@media screen and (max-width: 900px) {
    .moderadores, .palestrantes {
        flex: 0 1 calc(50% - 20px); /* Quando a largura da tela for menor, 2 moderadores por linha */
    }

    .linhadivisoriasociais {
        display: block;
        position: relative;
        margin: 15px auto;
        width: 50%;
        height: 5px;
        background-color: #ffffff;
        opacity: 20%;
    }
}

@media screen and (max-width: 700px) {
    .moderadores, .palestrantes {
        flex: 0 2 calc(40% - 20px); /* Quando a largura da tela for ainda menor, 1 moderador por linha */
    }

    .linhadivisoriasociais {
        display: block;
        position: relative;
        margin: 15px auto;
        width: 50%;
        height: 5px;
        background-color: #ffffff;
        opacity: 20%;
    }
}


.logos-de-apoio p, .palestrantes p, .moderadores p {
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 2px 45px rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-weight: 200;
    text-align: center;
    padding-top: 10px;
}



/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

/* SOBRE O IMM E A ECEME */




.sobre-imm, .sobre-eceme{
    display: flex;
    flex-direction: column;
    column-count: 2;
    align-items: center;
    text-align: center;
}


.realizacaoimm p {
    color: #c9fff2;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    padding-top: 20px;
}

.sobre-logo-cont {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.sobre-logo-imm {
    width: 350px; /* Largura automática */
    height: auto;
}

.sobre-logo-eceme{
    width: 150px; /* Largura automática */
    height: auto;
}


.sobre-o-ciclo{
    width: 100%;
    height: 90%;
}

@media (max-width: 600px) {
    .sobre-imm, .sobre-eceme {
        flex-direction: column; /* Altera para coluna em telas menores */
        align-items: center; /* Centraliza os itens na coluna */
        width: 85%; /* Utiliza toda a largura disponível */
    }

    .sobre-logo-ciclo {
        max-width: 40%; /* Ajusta a largura máxima para ocupar toda a largura da tela */
        margin: 0 auto;
        padding: 5vw; /* Utilizei vw para tornar o padding responsivo */
    }

    .sobre-o-ciclo {
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }

    .h1-sobre {
        font-size: 4vw; /* Ajusta o tamanho da fonte para uma fonte maior e responsiva */
        font-weight: 700;
        text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
        text-transform: uppercase;
    }

    .h2-sobre {
        font-size: 2.3vw; /* Ajusta o tamanho da fonte para uma fonte maior e responsiva */
        font-weight: 600;
        text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
    }

    .h3-sobre {
        font-size: 2vw; /* Ajusta o tamanho da fonte para uma fonte maior e responsiva */
        font-weight: 300;
        margin: 1vw auto;
        text-shadow: 0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.5); /* Sombreamento de texto responsivo */
    }

    .sobre-logo-imm {
        width: 200px; /* Largura automática */
        height: auto;
    }
    
    .sobre-logo-eceme{
        width: 80px; /* Largura automática */
        height: auto;
    }
}

/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

/* LOGOS REALIZAÇÃO E APOIO */


.sobre-logos-apoio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    gap: 80px;
}


.logos-img-pessoas img {
    max-width: 100%;
    width: 100px;
    height: auto;
}

.logos-img-pessoas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-logos-de-apoio {
    padding: 0;
    margin: 0 auto;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoceeex {
    margin: 0 auto;
}


.menu-logos-de-apoio-pessoas p {
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 2px 2px 45px rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-weight: 200;
    text-align: center;
    padding-top: 10px;
}



@media (max-width: 600px) {
    .logos-img-pessoas img {
        max-width: 100%;
        width: 60px;
        height: auto;
    }
    
    .logos-img-pessoas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .menu-logos-de-apoio {
        padding: 0;
        margin: 0 auto;
        display: inline;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-ceeex img {
        height: 1px;
        width: auto;
        
    }
   
    
    .menu-logos-de-apoio-pessoas p {
        color: aliceblue;
        font-size: 12px;
        font-weight: 500;
        text-shadow: 2px 2px 45px rgba(0, 0, 0, 0.5);
        text-align: justify;
        font-weight: 200;
        text-align: center;
        padding-top: 10px;
    }

    .menu3 i {
        font: 2px;
    }
}

.logos-de-apoio-om {
    display: grid;
    grid-row: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.logos-de-apoio-om img {
    margin: 0 auto;
    width: 150px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.logos-de-apoio-imm img {
    margin: 0 auto;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .logos-de-apoio-om img {
        margin: 0 auto;
        width: 80px;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    .logos-de-apoio-imm img {
        margin: 0 auto;
        width: 250px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .logo-imm img {
        display: flex;
        margin: 0 auto;
        width: auto;
        height: 120px;
        justify-content: center;
        align-items: center;
    }

    .logo-ceeex img {
        display: flex;
        margin: 0 auto;
        width: auto;
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    .logo-poupex img {
        display: flex;
        margin: 0 auto;
        width: auto;
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    
}

.logos-de-apoio .menu3, .logos-de-apoio-om .menu3, .logos-de-apoio-imm .menu3, .palestrantes .menu3, .moderadores .menu3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.logos-de-apoio .menu3 ul, .logos-de-apoio-om .menu3 ul, .logos-de-apoio-imm .menu3 ul, .palestrantes .menu3 ul, .moderadores .menu3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logos-de-apoio .menu3 i, .logos-de-apoio-om .menu3 i, .logos-de-apoio-imm .menu3 i, .palestrantes .menu3 i, .moderadores .menu3 i {
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    color: white;
}

.logos-de-apoio .menu3 i:hover, .logos-de-apoio-om .menu3 i:hover, .logos-de-apoio-imm .menu3 i:hover, .palestrantes .menu3 i:hover, .moderadores .menu3 i:hover {
    color: #f5c054;
    transition: 0.4s;
}

.logos-de-apoio .menu3 .icon-small, .logos-de-apoio-om .menu3 .icon-small, .logos-de-apoio-imm .menu3 .icon-small, .palestrantes .menu3 .icon-small, .moderadores .menu3 .icon-small {
    font-size: 36px;
}

.icon-small2 {
    font-size: 32px;
}



/*//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

/* BOTÃO VOLTAR PARA CIMA */

.btn-voltarcima {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-voltarcima a {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: #f5c054;
}

.btn-voltarcima a:hover {
    color: #f5c054;
    background-color: white;
    transition: 0.4s;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011820;
    text-align: center;
    color: white;
    padding: 20px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 2px 2px 45px rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-weight: 200;
    text-align: center;
}

/* Media queries para ajustes específicos em diferentes tamanhos de tela */

@media screen and (max-width: 700px) {
    .h2-sobre {
        color: aliceblue;
        font-size: 3.2vw; /* Ajustado para uma fonte maior e responsiva */
        font-weight: 600;
        width: 100%;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #011820;
        text-align: center;
        color: white;
        padding: 20px;
        color: aliceblue;
        font-size: 12px;
        font-weight: 500;
        text-shadow: 2px 2px 45px rgba(0, 0, 0, 0.5);
        text-align: justify;
        font-weight: 200;
        text-align: center;
    }
       
}
